<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>회원가입</title>
</head>
<body>
    <form action="/register" method="POST">
        <table border="1">
            <tr>
                <th>아이디</th>
                <td><input type="text" name="id"><a href="/id_check">중복 검사하기</a></td>

            </tr>
            <tr>
                <th>비밀번호</th>
                <td><input type="text" name="pwd"></td>
            </tr>
            <tr>
                <th>이름</th>
                <td><input type="text" name="name"></td>
            </tr>
            <tr>
                <th>생년월일</th>
                <td><input type="text" name="birth"></td>
            </tr>
            <tr>
                <th colspan="2">
                    <input type="submit" value="가입하기">
                </th>
            </tr>
        </table>
    </form>
</body>
</html>