<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> 새 자동차 추가 </h1>
    <form action="/car/input" method="POST">
        <table>
            <tr>
                <th>제품명</th>
                <td><input type="text" name="name" value="newCar"></td>
            </tr>
            <tr>
                <th>가격</th>
                <td><input type="text" name="price" value="5000"></td>
            </tr>
            <tr>
                <th>제조사</th>
                <td><input type="text" name="company" value="KOSMO"></td>
            </tr>
            <tr>
                <th>연식</th>
                <td><input type="text" name="year" value="2020"></td>
            </tr>
        </table>
        <input type="submit" value="저장하기">
    </form>
</body>
</html>