<hr>
<ul>
    <li><a href="/">INDEX</a></li>
    <li><a href="/home">HOME</a></li>
    <li><a href="/profile">PROFILE</a></li>
    <li><a href="/car/list">SHOP</a></li>
    <li><a href="">SNS</a></li>
</ul>
</hr>